# Core requirements
pillow
psycopg2
requests==2.18.4
sqlalchemy==1.1.15
nose
lxml
flask
textblob
isbnlib
tinys3==0.1.12
feedparser
elasticsearch
uwsgi
pycrypto
python-dateutil
loggly-python-handler
mock
cairosvg==1.0.22
Flask-Babel
money

# Ensure that we support SNI-based SSL
ndg-httpsclient

# Used only by metadata
pyld
beautifulsoup4
suds
py-bcrypt

# for author name matching
nameparser
fuzzywuzzy
python-Levenshtein
