# Core requirements
boto3
elasticsearch==2.1.0
elasticsearch-dsl<2.0.0
pillow
psycopg2
requests==2.18.4
sqlalchemy==1.1.15
nose
urllib3<1.24 # Travis problem introduced 20181016 - check to see when we can remove
lxml
flask
flask-sqlalchemy-session
textblob
isbnlib
feedparser
uwsgi
pycrypto
python-dateutil
loggly-python-handler
mock
cairosvg==1.0.22
Flask-Babel
money
pymarc
accept-types
watchtower # for cloudwatch logging

# Ensure that we support SNI-based SSL
ndg-httpsclient

# Used only by metadata
pyld
beautifulsoup4
suds
py-bcrypt
pyjwt==1.4.2

# for author name matching
nameparser
fuzzywuzzy
python-Levenshtein
